<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{application.title}"></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="${stylesPath}" />
    <script defer src="${indexJsPath}"></script>
    <script type="module" src="${componentsPath}"></script>
    <script src="/lib/htmx.min.1.9.10.js"></script>
</head>

<body>
    <info-modal id="error-modal" title="Something went wrong..." title:add:class="text-red-500"></info-modal>
    <div hx-history="false" id="app" hx-history-elt class="p-4">
        <div th:replace="~{${template}}"></div>
    </div>
</body>

</html>