<h1 class="text-2xl font-bold" th:text="#{setNewPassword.header}"></h1>
<form-container id="set-new-password-form" form:hx-post="/set-new-password" form:hx-target="#app"
        submit:add:class="button-like mt-4" th:submit:value="#{setNewPassword.send}">
        <input-with-error input:type="password" input:name="password"
                th:input:placeholder="#{setNewPassword.passwordPlaceholder}">
        </input-with-error>
        <input-with-error input:type="password" input:name="repeatedPassword"
                th:input:placeholder="#{setNewPassword.repeatedPasswordPlaceholder}">
        </input-with-error>
        <input type="hidden" name="token" th:value="${token}">
</form-container>

<script>
        document.getElementById("set-new-password-form").addEventListener("htmx:afterRequest", function (e) {
                const error = e.detail.xhr.response;
                this.afterSubmit({ error: error });
        });
</script>